<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Potvrzení objednávky obědů</title>
    <style>

    </style>
</head>
<body>
    <table>
        <tr><td style="width: 100px; vertical-align: top;">Komentář od:</td><td style="width: 400px;">{$name}</td></tr>
        <tr><td>e-mail:</td><td>{$email}</td></tr>
        <tr><td>Text:</td><td>{$text}</td></tr>
    </table>
<hr />
Madan Mohan
</div>
    
</body>
</html>