#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:


php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes


nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\*Module\Presenters\*Presenter

	session:
		expiration: 14 days
	debugger:
		bar: [JanDrabek\MailPanel\MailPanel]

services:
	- App\AdminModule\Model\UserManager
	- App\RouterFactory
	router: @App\RouterFactory::createRouter
	date: App\AdminModule\Model\Date
	preparations: App\AdminModule\Model\Preparations
	category: App\AdminModule\Model\Category
	allergen: App\Model\Allergen
	preparationAllergen: App\Model\PreparationAllergen
	menu: App\Model\Menu
	order: App\Model\Order
	orderData: App\Model\OrderData
	lunch: App\AdminModule\Model\Lunch
	cartage: App\AdminModule\Model\Cartage
	lunchPreparation: App\AdminModule\Model\LunchPreparation
	nette.mailer: JanDrabek\MailPanel\SessionMailer
