{var $robots = noindex}
{block left_column}

{/block}
{block content}
<div class="error404 plate">
<h1 n:block=title>Stránka nenalezena</h1>

<p>Požadovaná stránka nebyla nalezena. Je možné, že je adresa nesprávná nebo již neexistuje.</p>

<p><small>chyba 404</small></p>
</div>